@using Microsoft.AspNetCore.Blazor.Browser.Interop
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper


<div id=@id></div>
@functions {

    [Parameter]
    private string id { get; set; }

    [Parameter]
    private string code { get; set; }

    [Parameter]
    private Action<string> codeChanged { get; set; }

    private bool initialized = false;

    protected override void OnAfterRender()
    {
        InitializeSummernote();
    }

    void InitializeSummernote()
    {
        RegisteredFunction.Invoke<bool>("blazor_summernote", id);
        initialized = true;
    }

    private void UpdateCode()
    {
        code = GetHtmlContent();
        codeChanged(code);
    }

    public void Destroy() => RegisteredFunction.Invoke<bool>("blazor_summernoteDestroy", id);

    public string GetHtmlContent()
    {
        return initialized ? RegisteredFunction.Invoke<string>("blazor_summernoteCode", id) : string.Empty;
    }
}
