@using BlazorWebsite.Shared
@page "/aboutme"
    <div class="jumbotron jumbotron-fluid">
        <h1 style="margin: 0 auto" class="mx-auto text-center">
            About me
        </h1>
    </div>
    <div class="col-md-6 offset-md-3 col-xs-12">
        <h1>Hello!</h1>
        <p>Here I am going to write about who I am and what I do.</p>
    </div>  