@using BlazorWebsite.Shared
@page "/aboutme"
    <div class="jumbotron jumbotron-fluid">
        <h1 style="margin: 0 auto" class="mx-auto text-center">
            About me
        </h1>
    </div>
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <h1>What I do</h1>
        <p>Currently I work as .NET developer at Circdata in Krakow, I mostly work on mobile apps and fullstack development. I have been working there since 2017, before I worked as .NET dev for a year at SKM-group.</p>
        <p>
            The technology I specialize in (well, if you can say that about dev with 2 years of professional experience) is Xamarin.Forms. Recently I've also taken huge interest in Blazor framework.
            I've done a fair share of backend development, using asp.net MVC and .net core.
        </p>
        <h1>Who I am</h1>
        <p>
            I was born in Kielce. Currently I live in Krakow, where I am studying Computer Science at AGH University of Science and Technology, and working at Circdata.
        </p>
        <p>
            Apart from programming, my main interests are science, computer games, books, biking, astronomy, politics, anime, manga, and wasting time watching memes and youtube videos.
        </p>
    </div>  