@using BlazorWebsite.Shared.Post
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using BlazorWebsite.Client.Wrappers;
@using BlazorWebsite.Client.Infrastructure;
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@inject ISessionManager SessionManager
@inject HttpClient Http;
@page "/addpost"

<div class="jumbotron jumbotron-fluid">
    <h1 style="margin: 0 auto" class="mx-auto text-center">
        Add new post
    </h1>
</div>
<div class="col-md-10 offset-md-1">
    <input bind=@title class="form-control" placeholder="title" />
    <SummerNoteComponent ref="summerNote" id="test" />
    <button class="btn btn-success mr-auto" onclick=@addPost>add post</button>
</div>
@functions{
    private string title;
    private SummerNoteComponent summerNote;

    protected override void OnInit()
    {
        if (string.IsNullOrWhiteSpace(SessionManager.GetValue("authentication-token")))
        {
            UriHelper.NavigateTo("/login");
        }
    }

    private async Task addPost()
    {
        var content = summerNote.GetHtmlContent();
        summerNote.Destroy();
        var token = SessionManager.GetValue("authentication-token");
        Http.DefaultRequestHeaders.TryAddWithoutValidation("authentication-token", token);
        await Http.PostJsonAsync("/api/blogpost/addpost", new AddPostRequest { Title = title, Content = content });
        UriHelper.NavigateTo("/");
    }
}