<h2>@Title</h2>
<p><em>Published on @Date</em></p>
<HtmlView Content="@Content" />
<a class="nav-link" href="/blogpost/@Id">
    ...
</a>
<hr />
<br />

@functions{
    [Parameter]
    private int Id { get; set; }
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private string Content { get; set; }
    [Parameter]
    private DateTime Date { get; set; }
}