@page "/blogpost/{Id}"
@using BlazorWebsite.Shared;
@inject HttpClient Http
    <div class="jumbotron jumbotron-fluid">
        <h1 style="margin: 0 auto" class="mx-auto text-center">
            @BlogPostModel?.Title
        </h1>
    </div>
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        @if(BlogPostModel != null)
        {
            <p><em>Published on @BlogPostModel.Date</em></p>
            <HtmlView Content="@BlogPostModel.Content"></HtmlView>

        }
        else
        {
            <p><em>loading...</em></p>

        }
    </div> 

@functions {
    [Parameter]
    private string Id {get;set;}

    private BlogPostFull BlogPostModel { get; set; }

    protected override async Task OnInitAsync()
    {
        BlogPostModel = await Http.GetJsonAsync<BlogPostFull>($"/api/BlogPost/{Id}");
    }
}