@*This component is a dirty workaround for blazor not supporting rendering raw html yet*@

@using System.Web

<span>
    <img src="" onerror=@Js />
</span>

@functions{
    [Parameter]
    private string Content { get; set; }

    private string Js => "(function (e) { e.parentElement.innerHTML = '" + @HttpUtility.JavaScriptStringEncode(Content) + "'; })(this)";
}