@page "/projects"
<div class="jumbotron jumbotron-fluid">
    <h1 style="margin: 0 auto" class="mx-auto text-center">
        My Projects
    </h1>
</div>
<div class="col-md-6 offset-md-3 col-xs-12">
    <h1>This website</h1>
    <p>It has been written using experimental framework blazor. Source can be found at <a href="https://github.com/krzychuwr1/blazorWebsite" >my github</a></p>
</div>